@model Application.ViewModels.ProductReadVm
@using Domain.Enum

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="header d-flex justify-content-center flex-column align-items-center p-5">
                <div class="d-flex gap-3">
                    <svg height="40" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 7.184C16 3.14 12.86 0 9 0S2 3.14 2 7c-1.163.597-2 1.696-2 3v2a3 3 0 0 0 3 3h1a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1 5 5 0 0 1 10 0 1 1 0 0 0-1 1v6a1 1 0 0 0 1 1v1h-2.592c-.206-.581-.756-1-1.408-1H8a1.5 1.5 0 0 0 0 3h6a2 2 0 0 0 2-2v-1.183A2.992 2.992 0 0 0 18 12v-2a2.99 2.99 0 0 0-2-2.816L-7 62" fill="#494c4e" fill-rule="evenodd"></path> </g></svg>
                    <h1>Payment</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-c">
                <form class="submitFormByJQuery" enctype="multipart/form-data" method="post" data-ajax="true" data-ajax-url="/Order/List/CreateOrder" data-ajax-method="post" data-ajax-failure="failedAjax" data-ajax-success="successAjax">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center align-items-center flex-column my-2">
                            <h3 class="text">
                                @Model.Card.ProductsPrice $
                            </h3>
                            <button type="button" class="btn btn-primary my-4 px-5" onclick="PrePayment()">Payment</button>
                            <input type="hidden" id="Payload" name="Payload" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            @{
                foreach (var item in Model.Card.Products)
                {
                    <div class="card-c mb-3 p-0">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="p-4 bg-warning"></div>
                                    <h3 class="text p-3">
                                        @item.Title
                                    </h3>
                                </div>                                
                                <input type="hidden" class="productId" value="@item.Id" />
                            </div>
                            <div class="col-md-4">
                                <div class="mt-5">
                                    <h4 class="text-danger">@item.Price</h4>
                                    <p>Price</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-start p-5">
                                    <form class="submitFormByJQuery" enctype="multipart/form-data" method="post" data-ajax="true" data-ajax-url="/Product/DeleteProductFromSession" data-ajax-method="post" data-ajax-failure="failedAjax_DeleteProductFromSession" data-ajax-success="successAjax_DeleteProductFromSession">
                                        @Html.AntiForgeryToken()
                                        <input value="@item.Id" type="hidden" name="Payload" />
                                        <button type="submit" class="btn btn btn-outline-dark p-2"><i class="fa fa-trash"></i></button>
                                    </form>                                    
                                </div>                                
                            </div>
                        </div>
                    </div>                    
                }
            }
        </div>
    </div>
</div>

<script>
    failedAjax_DeleteProductFromSession = function (response) {
        //notify(response.Message, "error", "bottom-center");
    };
    successAjax_DeleteProductFromSession = function (response) {
        if (response.Result) {
            location.reload();
        }
        else {
            //notify(response.Message, "error", "bottom-center");
        }
    };
</script>

<script>
    function PrePayment() {
        var productIds = "";
        $(".productId").map(function (index, element) {            
            productIds += $(element).val() + ",";
        })
        if (productIds!="") {
            productIds.substring(0, productIds.length - 1);
            $("#Payload").val(productIds);
            $(".submitFormByJQuery").submit();
        }        
    }
</script>